###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@

plugins =[{}]
    "minify" = "!plg:minify"
    "doc" = "!plg:doc"
@

tasks =[{}]

    build =[{}]

        src =[]
            ### Abacus.js ###
            ./src/js/header.js

            # utilities
            ./src/js/utilities/utils.js
            ./src/js/utilities/math.js
            ./src/js/utilities/Node.js
            ./src/js/utilities/ListSet.js
            ./src/js/utilities/BitArray.js
            ./src/js/utilities/Counters.js
            ./src/js/utilities/Heap.js

            # Symbolic Computation
            ./src/js/symbolic/INumber.js
            ./src/js/symbolic/Integer.js
            ./src/js/symbolic/Rational.js
            ./src/js/symbolic/Complex.js
            ./src/js/symbolic/Expr.js
            ./src/js/symbolic/Polynomial.js
            ./src/js/symbolic/Matrix.js
            ./src/js/symbolic/Ring.js

            # Combinatorics
            ./src/js/combinatorics/Order.js
            ./src/js/combinatorics/CombinatorialIterator.js
            ./src/js/combinatorics/Filter.js
            ./src/js/combinatorics/Proggression.js
            ./src/js/combinatorics/PrimeSieve.js
            ./src/js/combinatorics/Tensor.js
            ./src/js/combinatorics/Permutation.js
            ./src/js/combinatorics/Combination.js
            ./src/js/combinatorics/Subset.js
            ./src/js/combinatorics/Partition.js
            ./src/js/combinatorics/SetPartition.js
            ./src/js/combinatorics/CatalanWord.js
            ./src/js/combinatorics/MagicSquare.js

            ./src/js/footer.js
        @

        # extract header from this file
        header = ./src/js/header.js

        replace =[{}]
            "@@VERSION@@" = "2.0.0"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
        @

        # extract documentation
        doc ={}
            "startdoc" = "/**[DOC_MD]"
            "enddoc" = "[/DOC_MD]**/"
            "trim" = RegExp::^\s*\*[ ]?
            "output" = "./manual.md"
        @

        out = ./build/js/Abacus.js
    @

    minify =[{}]
    
        src =[]
            ./build/js/Abacus.js
        @
    
        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
    
            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @
    
            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        @
    
        out = ./build/js/Abacus.min.js
    @
@
